<%= form_for(@sku) do |f| %>
  <% if @sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sku.errors.count, "error") %> prohibited this sku from being saved:</h2>

      <ul>
      <% @sku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :sku_code %><br>
    <%= f.text_field :sku_code %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_id %><br>
    <%= f.collection_select :manufacturer_id, Manufacturer.all, :id, :name, :selected => @sku.manufacturer %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, :selected => @sku.category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
